input {
    color: black;
    height: 50px;
    width: 100%;
    padding: 2%;
    font-size: 17px;
    color: #ccc;
    outline: none;
    background: none;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 6px;
}

input:focus {
    border: 1px solid #ffffff;
    color:rgb(255, 255, 255);
}

textarea {
    width: 100%;
    resize: none;
    height: 250px;
    background: none;
    color: white;
    padding: 2%;
    font-size: 18px;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 6px;
}

textarea:focus {
    border: 1px solid #ffffff;
}